body {
    background-color: #a4daa4;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* Sets the font size to 16px */
    line-height: 1.6;
    /* Sets the line-height to 1.6 */
}

h1 {
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

h3 {
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.pokedexlist {
    text-align: center;
}

.pokemon-index {
    list-style-type: none;
}

.button {
    border: none;
    display: block;
    width: 15%;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    /* takes the outer container font */
    font-family: inherit;
    /* styles the button*/
    background-color: #A9145E;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    /* width of border, type, and color */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.button:hover {
 cursor: pointer;
 opacity: 0.8;
}